{% extends 'base.html' %}

{% block title %}Verification Sent{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Check Your Email</h2>
            <p>We've sent a verification link to your email address.</p>
            <p>Please click the link in the email to verify your account.</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}