{% extends 'base.html' %}
{% load static %}

{% block title %}Password Changed - Oreg Organic Shop{% endblock %}

{% block content %}
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Password Updated</h3>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Password Reset</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        
                        <div class="text-center mb-4">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'assets/images/logo/logo.png' %}" alt="AriFarm Logo" style="height: 60px;">
                            </a>
                        </div>

                        <div class="section-content text-center mb-4">
                            <div class="mb-4">
                                <i class="icofont-check-circled" style="font-size: 80px; color: #28a745;"></i>
                            </div>

                            <h2 class="title-4 mb-2" style="color: #28a745;">Success!</h2>
                            
                            <p class="desc-content mb-4">
                                Your password has been successfully updated.<br>
                                You can now log in using your new password.
                            </p>
                        </div>

                        <div class="single-input-item mb-3">
                            <a href="{% url 'login' %}" class="btn obrien-button-2 primary-color w-100">
                                <i class="icofont-login mr-2"></i> Login Now
                            </a>
                        </div>

                        <div class="single-input-item text-center mt-3">
                            <a href="{% url 'home' %}" style="text-decoration: underline; color: #666;">
                                Back to Homepage
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}