{% load static %}

<!-- Start Footer -->
<footer>
    <div class="footer-shp">
        <img src="{% static 'assets/img/about/cow.png' %}" alt="thumb">
    </div>
    <div class="footer-widget">
        <div class="container">
            <div class="footer-widget-wpr de-padding">
                <div class="row g-5">
                    <div class="col-xl-3 col-md-6">
                        <div class="footer-widget-box about-us">
                            <div class="footer-logo">
                                <img src="{% static 'assets/img/logo/logo.png' %}" alt="thumb">
                            </div>
                            <p>
                                Affronting discretion as do is announcing. Now months esteem oppose nearer enable too six. as do nearer is announcing.
                            </p>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li>
                                    <a href="{% url 'about' %}">
                                        <i class="icofont-long-arrow-right"></i>
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'shop' %}">
                                        <i class="icofont-long-arrow-right"></i>
                                        Our Product
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="icofont-long-arrow-right"></i>
                                        Our Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">
                                        <i class="icofont-long-arrow-right"></i>
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="icofont-long-arrow-right"></i>
                                        Become a member
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="icofont-long-arrow-right"></i>
                                        Case Studies
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="footer-widget-box recent-product">
                            <h4 class="footer-widget-title">Recent Products</h4>
                            <ul>
                                <li>
                                    <a href="/">
                                        <div class="rcp">
                                            <div class="rcp-pic">
                                                <img src="{% static 'assets/img/single/80x80.png' %}" alt="thumb">
                                            </div>
                                            <div class="rcp-desc">
                                                <h6>Fresh Vegetable</h6>
                                                <span>$13</span>
                                                <div class="sh-de-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <div class="rcp">
                                            <div class="rcp-pic">
                                                <img src="{% static 'assets/img/single/80x80.png' %}" alt="thumb">
                                            </div>
                                            <div class="rcp-desc">
                                                <h6>Fresh Fruit</h6>
                                                <span>$13</span>
                                                <div class="sh-de-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <div class="rcp">
                                            <div class="rcp-pic">
                                                <img src="{% static 'assets/img/single/80x80.png' %}" alt="thumb">
                                            </div>
                                            <div class="rcp-desc">
                                                <h6>Fresh Bean</h6>
                                                <span>$13</span>
                                                <div class="sh-de-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="footer-widget-box in-touch">
                            <h4 class="footer-widget-title">Subscribe</h4>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <strong>Address:</strong>
                                        5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                    </li>
                                    <li>
                                        <strong>Phone:</strong>
                                        <a href="tel:+8801688005654">+8801688005654</a>
                                    </li>
                                    <li>
                                        <div class="footer-sub">
                                            <form method="post" action="/">
                                                {% csrf_token %}
                                                <input type="email" name="email" class="input-style-1" placeholder="Enter Email.." required>
                                                <button type="submit" class="input-btn">
                                                    <i class="flaticon-envelope"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-content">
                <p class="mb-0">
                    Copyright © {% now "Y" %}. All Rights Reserved 
                    <a href="https://themeforest.net/user/templatebucket/portfolio" target="_blank" class="temp-bucket"> 
                        Templatebucket
                    </a>.
                </p>
            </div>
        </div>
    </div>
</footer>    
<!-- End Footer-->