{% load static %}

<!-- Start header -->
<header class="header header-1">
    <div class="main-navigation">
        <nav id="navbar_top" class="navbar navbar-expand-lg">
            <div class="container order-menu g-0">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'assets/img/logo/logo-white.png' %}" class="logo-display" alt="thumb">
                    <img src="{% static 'assets/img/logo/logo.png' %}" class="logo-scrolled" alt="thumb">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="ti-menu-alt"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  
                               Home
                            </a>
                            <ul class="dropdown-menu fade-up">
                                <li>
                                    <a class="dropdown-item" href="{% url 'home' %}"> 
                                        Home Version 1
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item menu-ribbon" href="/"> 
                                        Home Version 2
                                        <span class="menu-ribbon-txt">
                                            new
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"> 
                                        Home Version 3
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"> 
                                        Home Version 4
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"> 
                                        OnePage Version
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}"> About Us </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  
                               Shop
                            </a>
                            <ul class="dropdown-menu fade-up">
                                <li>
                                    <a class="dropdown-item" href="{% url 'shop' %}"> 
                                        Shop Page
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"> 
                                        Shop Single
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'cart' %}"> 
                                        Cart Page
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'checkout' %}"> 
                                        Checkout Page
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> 
                                My Account
                            </a>
                            <ul class="dropdown-menu fade-up">
                                <li>
                                    <a class="dropdown-item" href="{% url 'login' %}"> 
                                        Login
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/">
                                        Register
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> 
                                Blog  
                            </a>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" href="/"> Blog </a></li>
                                <li>
                                    <a class="dropdown-item" href="/"> 
                                        Blog Right Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/">
                                        Blog Left Sidebar
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="/"> Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"> Contact </a></li>
                    </ul>
                </div> <!-- navbar-collapse.// -->
                <div class="search-cart">
                    <ul class="cart-li">
                        <li>
                            <div class="site-cart">
                                <input type="checkbox" class="site-checkbox-cart" id="site-checkbox-cart">
                                <label for="site-checkbox-cart" class="site-cart-label">
                                    <i class="icofont-shopping-cart"></i>
                                </label>
                                <div class="site-cart-list">
                                    <ul>
                                        <li>
                                            <div class="site-cart-up">
                                                <div class="site-cart-pic">
                                                    <img src="{% static 'assets/img/single/cart-pic.jpg' %}" alt="thumb">
                                                </div>
                                                <div class="site-cart-desc">
                                                    <h6>Lampost Frame Loft</h6>
                                                    <span>1 × $299.00</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="site-cart-up">
                                                <div class="site-cart-pic">
                                                    <img src="{% static 'assets/img/single/cart-pic.jpg' %}" alt="thumb">
                                                </div>
                                                <div class="site-cart-desc">
                                                    <h6>Lampost Frame Loft</h6>
                                                    <span>1 × $299.00</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="site-cart-bottom text-center">
                                        <div class="sub-total">
                                            <span>Subtotal: $499.00</span>
                                        </div>
                                        <div class="site-cart-button">
                                            <a href="{% url 'cart' %}" class="button-btns">View Cart</a>
                                            <a href="{% url 'checkout' %}" class="button-btns">Checkout</a>             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="site-search">
                                <input type="checkbox" class="site-input-checkbox" id="site-input-checkbox">
                                <label for="site-input-checkbox" class="site-input-label">
                                    <i class="icofont-search"></i>
                                    <span class="site-close">
                                        <i class="icofont-close"></i>
                                    </span>
                                </label>
                                <div class="navigation__background">&nbsp;</div>
                                <div class="site-search-content">
                                    <form>
                                        <input type="text" placeholder="Search" class="input-style-3">
                                        <button type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- container -->
        </nav>
    </div>
</header>
<!-- End header -->